@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,100,1,-25");

.hotel-container{
   
    height: 18rem;
    font-size: 10px;
    aspect-ratio: 2 / 3;
    border: 1px solid var(--accent-color);
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.container{
    height: 70%;
    width: 90%;
   
}

.hotel-image{
    height: 100%;
    width: 100%;
   
}
.hotel-details{
    display: flex;
    flex-direction: column;

}

.hotel-rating, .hotel-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}