@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color); 
     box-shadow: 3px 2px 4px 0px var(--container-border-color);

     border-radius: 4px;
}

.heading-1{
    font-size: 1.5rem;
    padding-left: 16px;
}
.link{
    color: var(--primary-color);
    text-decoration: none;
}
.nav{
    margin-right: 16px;

}
.btn-container{
    border-radius: 4px;
    cursor: pointer;  
    border: 1px solid var(--container-border-color);
    display: flex;
}


.person{
    background-color: var(--container-border-color);
   border-radius: 0 2px 2px 0;
}

.search-container{
    border: 1px solid var(--container-border-color);
    border-radius: 4px;
    padding: 4px;
}
/* span{
    padding-left:4px ;
    padding-right: 4px;
} */
.right-border{
    height: 100%;
    width: 1%;
    background-color: var(--container-border-color);
    margin: 0 8px 0 8px;
    padding: 1px;
}

.search-icon{
    background-color: var(--primary-color);
    /* height: 100%; */
    padding: 4px;
    margin-left: 4px;
    border-radius: 4px;

}